@using GTour.Components

<GuidedTour TourId="ScrollGuidedTour" OverlayEnabled="true">

  <GuidedTourStep Title="Scroll to end" StepName="scrollEnd" TourStepSequence="1" ElementSelector="[data-scroll-end]">
    <span>
      Hopefully this scrolled your screen, if not well done you lucky bastard.
    </span>
  </GuidedTourStep>

  <GuidedTourStep Title="Scroll to start" StepName="scrollStart" TourStepSequence="2" ElementSelector="[data-scroll-start]">
    <span>
      If it's not scrolling you need to resize :)
    </span>
  </GuidedTourStep>

</GuidedTour>