.guided-tour-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.guided-tour-wrapper {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
}
.guided-tour-wrapper .arrow,
.guided-tour-wrapper .arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}
.guided-tour-wrapper .arrow {
  visibility: hidden;
}
.guided-tour-wrapper .arrow.force-hide::before {
  visibility: hidden !important;
}
.guided-tour-wrapper .arrow::before {
  background: white;
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
.guided-tour-wrapper .arrow::before.force-hide {
  visibility: hidden !important;
}
.guided-tour-wrapper[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}
.guided-tour-wrapper[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}
.guided-tour-wrapper[data-popper-placement^='left'] > .arrow {
  right: -4px;
}
.guided-tour-wrapper[data-popper-placement^='right'] > .arrow {
  left: -4px;
}
.theme-default-overlay {
  background-color: rgba(33, 33, 33, 0.5);
}
.theme-default-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.6rem;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}
.theme-default-arrow::before {
  background-color: white;
}