@using GTour.Components

<GuidedTour TourId="FormGuidedTour" OverlayEnabled="true">
  <ArrowContent>
    <i class="my-arrow bi bi-caret-up-fill" data-popper-arrow></i>
  </ArrowContent>
  <ChildContent>

    <GuidedTourStep Title="First Name Field" StepName="firstName" TourStepSequence="1" ElementSelector="[data-form-firstname]">
      <span>Fill out your first name here. If you don't have one, one will be provided by your local spaza shop</span>
      <a href="http://www.google.com/search?q=why+don%27t+i+have+a+first+name" target="_blank">Find out why</a>
    </GuidedTourStep>

    <GuidedTourStep Title="I am a label" StepName="lastNameLabel" TourStepSequence="2" ElementSelector="[data-form-lastname-label]">
      <span>Can you believe it that I'm a label? </span>
    </GuidedTourStep>

    <GuidedTourStep Title="Username" StepName="userName" TourStepSequence="3" ElementSelector="[data-form-username]">
      <ChildContent>
        <span>Good luck finding a username that's not already taken</span>
      </ChildContent>
    </GuidedTourStep>

    <GuidedTourStep Title="T&C" StepName="termsandconditions" TourStepSequence="4" ElementSelector="[data-form-termsandconditions]"
                    CancelTourButtonText="Make Dead Tour"
                    CompleteTourButtonText="Run Away"
                    PreviousStepButtonText="Return to Sanity">
      <ChildContent>
        <div style="width:40vw;height:40vh;overflow:auto;">
          <span>This is our lengthy terms and conditions. If you know what's good for you just leave</span>
          <p>
            Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia? De Apocalypsi undead dictum mauris. Hi mortuis soulless creaturas, imo monstra adventus vultus comedat cerebella viventium. Qui offenderit rapto, terribilem incessu. The voodoo sacerdos suscitat mortuos comedere carnem. Search for solum oculi eorum defunctis cerebro. Nescio an Undead zombies. Sicut malus movie horror.
          </p>
          <p>
            Cum horribilem resurgere de sepulcris creaturis, sicut de iride et serpens. Pestilentia, ipsa screams. Pestilentia est haec ambulabat mortuos. Sicut malus voodoo. Aenean a dolor vulnerum aperire accedunt, mortui iam vivam. Qui tardius moveri, sed in magna copia sint terribiles legionis. Alii missing oculis aliorum sicut serpere crabs nostram. Putridi odores aere implent.
          </p>
          <p>
            In omni memoria patriae religionis sunt diri undead historiarum. Golums, zombies et fascinati. Maleficia! Vel a modern perhsaps morbi. A terrenti contagium. Forsitan illud Apocalypsi, vel malum poenae horrifying fecimus. Indeflexus monstra per plateas currere. Fit de nostra carne undead. Poenitentiam agite pœnitentiam! Vivens mortua sunt apud nos.
          </p>
          <p>
            Ut fames cerebro enim carnis, viscera et organa viventium. Sicut spargit virus ad impetum, qui supersumus. Avium, canum, fugere ferae et infecti horrenda monstra. Videmus deformis horrenda daemonum. Panduntur portae inferi. Finis accedens sentio terrore perterritus et taedium. The horror, monstra significant finem. Terror sit unum superesse sentit, ut caro eaters caule nobis.
          </p>
        </div>
      </ChildContent>
    </GuidedTourStep>


    <GuidedTourStep Title="Custom Buttons" StepName="formSubmit" TourStepSequence="5" ElementSelector="[data-form-submit]">
      <ChildContent>
        <span>Look Ma, Custom buttons</span>
      </ChildContent>
      <FooterContent>
        <div>
          <button class="btn" @onclick="@(() => context.GoToStep("firstName"))">GOTO: firstName</button>
          <button class="btn" @onclick="@(() => context.PreviousStep())">
            <i class="bi bi-cloud-drizzle"></i>
            <span>Prev</span>
          </button>
          <button class="btn" @onclick="@(() => context.CompleteTour())">Complete</button>
        </div>
      </FooterContent>
    </GuidedTourStep>
  </ChildContent>
</GuidedTour>

