<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">STGTour.DemoServerSide</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <ul class="nav flex-column">

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="help/arrow">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Arrow Element
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="help/overlay">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Overlay Element
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="help/service">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Service
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="help/theme">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Theming
      </NavLink>
    </li>

    <li class="nav-item px-3">
      <NavLink class="nav-link" href="guidedtour">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Guided Tour
      </NavLink>
    </li>
  </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
